<div class="row">
<div class="col-sm-4">
  <form style="float : left">
    <div class="design1">
    <div class="design2">From </div>
    <div><input type="date" name="bday" height="25px"></div>
    </div>
    <div class="design1">
    <div class="design2">To</div>
    <div><input type="date" name="bday" height="25px"></div>
    </div>
    <div class="design1">
    <div class="design2"><span>Min</span><span style="padding : 150px">Max</span></div>
    <div><span><input type="number" name="" height="25px"></span><span style="padding : 25px"><input type="number" name="" height="25px"></span></div>
    </div>
    <div class="design1">
    <div class="design2">Merchant</div>
      <select name="Merchant">
        <option value="1">Taxi</option>
        <option value="2">Electronics</option>
        <option value="3">Shuttle</option>
        <option value="4">Hotel</option>
        <option value="5">Parking</option>
        <option value="6">Breakfast</option>
      </select>
    </div>
    <div class="design1">
    <div class="design2">Status</div>
    <div><input type="checkbox" value="New" height="25px">New</div>
    <div><input type="checkbox" value="Inprogress" height="25px">In progress</div>
    <div><input type="checkbox" value="Reimbursed" height="25px">Reimbursed</div>
    </div>
    <div>
    <nav class="design">
    <button class="design">
    <a routerLink="/Home" routerLinkActive="active"> 
      Logout
    </a>
    </button>
    </nav>
    </div>
</form>  
</div>
<div class="col-sm-8">
  <p>chahat vidya</p>
</div>
</div>